
 header{
    &#masthead{
        display: flex;
    }
    #site-navigation{
        margin-left: 168px;
        position: relative;
        width: 100%;
        .menu-menu-1-container{
            display: inline-block;          
            #primary-menu{
                list-style-type: none;
                padding: 0;
                li {
                    margin-top: 30px;
                    display: inline-block;
                    margin-right: 40px;
                    position: relative;
                    a{
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 22px;
                        text-align: right;
                        text-decoration: none;
                        color: $color-primary-brown;
                        // pointer-events: none;
                        // cursor: default;
                        &:hover{
                            color: #8F796E;
                        }
                    }  
                    // &:nth-child(2):after, &:nth-child(3):after, &:nth-child(6):after{    
                    &.menu-item-has-children{
                        &>a{
                            .icon-drop{
                                &:after{
                                    content: "\f078";
                                    font-family: "Font Awesome 5 Free";
                                    font-size: 12px;
                                    font-weight: 600;
                                    margin-left: 4px;
                                    cursor: pointer;
                                    color: $color-primary-brown;
                                    transition: all 0.3s ease 0s;
                                }
                            }
                        }
                    }
                    &:hover{
                        // &:nth-child(2):after, &:nth-child(3):after, &:nth-child(6):after
                        &.menu-item-has-children{    
                            color: #8F796E;
                           
                               
                            
                        }
                          

                    }
                    &:hover{
                        transition: all 2s ease 0s;
                        .sub-menu{
                            display: block;
                            transition: all 0.3s ease 0s;
                            transition-timing-function: ease-in-out;
                            visibility: visible;
                            
                        }
                    }
                    .sub-menu{
                        // display: none;
                        // position: absolute;
                        visibility: hidden;
                        position: absolute;
                        padding: 0;
                        z-index: 5;
                        top: 40px;
                        left: -40px;
                        width: 210px;
                        background-color: #fff;
                        border: 1px solid #D6CECB;
                        transition: all 0.3s ease 0s;
                        background-image: url("/resources/images/Polygon.png");
                        &:after{
                            content: "";
                            width: 14px;
                            height: 14px;
                            background-color: #ffffff;
                            position: absolute;
                            top: -8px;
                            right: 40%;
                            transform: rotate(45deg);
                            border-left: 1px solid #D6CECB;
                            border-top: 1px solid #D6CECB ;
                            border-radius: 1px;
                            z-index: 99999;
                        }

                        li {
                            // display: inline-block;
                            display: block;
                            margin-top: 0px;
                            margin-right: 0px;
                            position: relative;
                            padding-top: 16px;
                            padding-left: 16px;

                            &:last-child{
                                padding-bottom: 16px;
                            }
                            a{
                                text-decoration: none;
                                color: $color-black;
                                &:hover{
                                    color: $color-primary-brown;
                                }
                            }  
                            // &:nth-child(2):after, &:nth-child(3):after, &:nth-child(6):after
                            &.menu-item-has-children{    
                                content: "";
                            }
                        }
                    }
                }                   
            }
    
        }
        .mk-request {
            // display: inline-block;
            // float: right;
            float: right;
            margin-top: 30px;
            button{
                padding: 9px 24px;
                background-color: $color-primary-light-brown;
                border-radius: 3px;
                border-right: none;
                border-bottom: 3px solid #000;
                cursor: pointer;
                a {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 22px;
                    color: #fff;
                }
    
            }
            button:hover {
                background-color:#B1A19A;
            }
        }
    }
}   

@media screen and (max-width: 1160px){
    header{
        #site-navigation{
            margin-left: 50px;
        }    
    }
}
// @media screen and (max-width: 1024px){
//     header.site-header{
//         position: relative;
//         #site-navigation{
//             margin-left: 50px;
//             width: 100%;
               
//             .mk-request{
//                 margin-top: 30px;
//                 float: right;
//             } 
//         }   
//     }
// }
@media screen and (max-width: 1020px){
    header.site-header{
        position: relative;
        #site-navigation{
            margin-left: 50px;
            width: 100%;
            .menu-menu-1-container{
                display: none;   
            }   
            .mk-request{
                margin-top: 30px;
                float: right;
            } 
        } 
    }
}
@media screen and (max-width: 479px){
    header.site-header{
        position: relative;
        #site-navigation{
            margin-left: 15px;
            width: 100%;

            .mk-request {
                button{
                    padding: 9px 5px;
                    background-color: $color-primary-light-brown;
                    border-radius: 3px;
                    border-right: none;
                    border-bottom: 3px solid #000;
                    cursor: pointer;
        
                }
            }
        } 
        
    }    
}    