// mobile
.hamberger {
    display: none;
}
.mobile-nav {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#F3EFED;
    overflow-y: hidden;
    transition: height 1s ease;

    .close-hamberger{
        span{
            padding: 8px;
            text-decoration: none;
            font-size: 36px;
            color: #818181;
            display: block;
            transition: 0.3s;
            position: absolute;
            top: 75px;
            right: 30px;
            cursor: pointer;

        }
    }

    .mobile-control {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;

        .menu-menu-1-container{
            // display: inline-block;
            display: block;          
            #primary-menu{
                list-style-type: none;
                padding: 0;
                text-align: justify;
                display: inline-block;
                li {
                    // display: inline-block;
                    display: block;
                    margin-top: 25px;
                    margin-right: 25px;
                    position: relative;
                    a{
                        text-decoration: none;
                        color: $color-primary-brown;

                        &:hover{
                            color: #8F796E;
                        }
                    }  
                    // &:nth-child(2):after, &:nth-child(3):after, &:nth-child(6):after
                    &.menu-item-has-children{    
                        &>a{
                            .icon-drop{
                                &:after{
    
                                    content: "\f078";
                                    font-family: "Font Awesome 5 Free";
                                    font-size: 12px;
                                    font-weight: 600;
                                    margin-left: 4px;
                                    cursor: pointer;
                                    color: $color-primary-brown;
                                    transition: all 0.3s ease 0s;
                                }
                            }
                        }

                    }

                    &:hover{
                        // &:nth-child(2):after, &:nth-child(3):after, &:nth-child(6):after

                        &.menu-item-has-children{    
                            color: #8F796E;
                        }
                    }
                    &:hover{
                        transition: all 2s ease 0s;
                        .sub-menu{
                            display: block;
                            transition: all 0.3s ease 0s;
                            transition-timing-function: ease-in-out;
                            visibility: visible;
                            
                        }
                    }
                    .sub-menu{
                        display: none;
                        // position: absolute;
                        // padding: 0;
                        // visibility: hidden;
                        position: absolute;
                        padding: 0;
                        top: 40px;
                        width: 210px;
                        // left: 43%;
                        background-color: #fff;
                        border: 1px solid #D6CECB;
                        transition: all 0.3s ease 0s;
                        z-index: 1;

                        li{
                            padding-left: 15px;

                            // &:nth-child(2):after, &:nth-child(3):after, &:nth-child(6):after
                            &.menu-item-has-children{    
                                content: ""
                            }
                            &:last-child{
                                padding-bottom: 20px;
                            }
                        }
                    }
                }                   
            }
        }
    }
}
@media screen and (max-width: 1020px){
    header.site-header{
        position: relative;
            
        //mobile
        .hamberger {
            display: block;
            margin-top: 35px;
            height: 35px;

            // position: relative;
            span.hamberger-icon {
                font-size: 30px;
                cursor: pointer;
                margin: 0 30px;
            }
        }
        .mobile-nav {
            .mobile-control {
                position: relative;
                top: 20%;
                width: 100%;
                text-align: center;
                margin-top: 30px;
            }
        }  
    }
}