.page-template-page-template-no-header {
    #top-header {
        a {
            color: $color-primary-gray;
        }

        .cta-button {
            a {
                color: $color-white;
            }
        }
    }

    #main-header {
        .logo_container {
            #logo {
                // filter: invert(100%);
            }
        }

        a {
            color: $color-primary-gray;
        }
    }
}

@media (max-width: 980px) {
    .page-template-page-template-no-header {
        .section-no-header {
            height: 0;
            padding-top: 0 !important;
        }
    }
}