#top-menu-nav {
    #top-menu {
        border-top: 1px solid $color-white;
        padding: 20px 0 0 20px;

        li {
            a {
                line-height: 19px;
                font-weight: 500;
                padding-bottom: 20px !important;
                transition: all .3s ease-in-out;
            }
        }

        li:not(:last-child) {
            padding-right: 37px;
        }
    }
}

#main-header.et-fixed-header {
    #top-menu-nav {
        #top-menu {
            li {
                a {
                    &:hover {
                        color: $color-primary-orange !important;
                    }
                }
            }
        }
    }
}



@media (min-width: 1100px) and (max-width: 1405px) {
    #top-menu-nav {
        #top-menu {

            li {
                a {
                    font-size: 15px;
                }
            }

            li:not(:last-child) {
                padding-right: 20px;
            }
        }
    }
}