#top-header {
    .container {
        padding-top: 0;
    }

    #et-secondary-menu {
        position: relative;
        top: 27px;

        .menu>li {
            margin-right: 0px;

            &.wpml-ls-item {
                margin-left: 5px;
            }

            &.wpml-ls-item>a {
                font-weight: 700;
                padding-left: 20px;
            }
        }

        .sub-menu {
            width: 60px;

            li {
                padding: 0 10px;

                a {
                    padding: 8px;

                    &:hover {
                        color: $color-white;
                        background-color: $color-primary-orange;
                    }
                }
            }
        }

        a {
            line-height: 19px;
            font-weight: 500;
        }
    }
}



/* Hide top header – secondary menu  on scroll */
#top-header {
    height: 50px;
    transition: height .3s ease;
}

#top-header.et-fixed-header {
    overflow: hidden;
    height: 0;
}

#main-header {
    transition: top .3s ease;
}

#main-header.et-fixed-header {
    top: 0 !important;
}

.admin-bar #main-header.et-fixed-header {
    top: 32px !important;
}