* {
    padding: 0;
    margin: 0;
}

html {}

body {
    overflow-x: hidden;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: $color-black;
}

// .slider{
//     *{
//     	outline: none;
//     }
//     div{
//     	height: 100%;
//     }
//     .slick-list{
//     	overflow: hidden;
//     	.slick-track{
//     		display: flex;
//     		justify-content: center;
//     		align-items: center;
//     	}
//     }
// }