@font-face {
  font-family: 'Gilroy';
  src: url('/wp-content/themes/kki/resources/fonts/Gilroy/Gilroy-Light.ttf') format('truetype');
  font-weight: 'lighter';
  font-weight: 400;
}
@font-face {
  font-family: 'Gilroy';
  src: url('/wp-content/themes/kki/resources/fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
  font-weight: 'regular';
  font-weight: 500;
}
@font-face {
  font-family: 'Gilroy';
  src: url('/wp-content/themes/kki/resources/fonts/Gilroy/Gilroy-Medium.ttf') format('truetype');
  font-weight: 'medium';
  font-weight: 600;
}
@font-face {
  font-family: 'Gilroy';
  src: url('/wp-content/themes/kki/resources/fonts/Gilroy/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 'SemiBold';
  font-weight: 700;
}
@font-face {
  font-family: 'Gilroy';
  src: url('/wp-content/themes/kki/resources/fonts/Gilroy/Gilroy-Bold.ttf') format('truetype');
  font-weight: 'Bold';
  font-weight: 800;
}

body, * {
    font-family: 'Gilroy', sans-serif;
}
/*
 * General
 */
// @font-face {
//     font-family: 'Gilroy';
//     src: url("/wp-content/themes/wp-content/themes/kki/assets/resources/fonts/Gilroy-Regular.ttf") format('truetype');
//     font-weight: 400;
//     font-weight: normal;
// }
// @font-face {
//     font-family: 'Gilroy';
//     src: url("/wp-content/themes/wp-content/themes/kki/assets/resources/fonts/Gilroy-Bold.ttf") format('truetype');
//     font-weight: bold;
//     font-weight: normal;
// }
// @font-face {
//     font-family: 'Gilroy';
//     src: url("/wp-content/themes/wp-content/themes/kki/assets/resources/fonts/Gilroy-Light.ttf") format('truetype');
//     font-weight: normal;
// }


body,
p {
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}
li {
    line-height: 30px;
}

/** End General**/

/** Headings**/

h1 {
    font-size: 56px ;
    line-height: 74px;
    padding: 0;
}

h2 {
    font-size: 40px ;
    line-height: 47px;
    padding: 0;
}
                  
h3 {}

h4 {
    font-size: 25px;
    line-height: 29px;
    padding: 0;
}

h4 {}

h5 {}

h6 {
     
}

/** End Heading**/

/** Formatting**/

p {
    font-size: 16px;
    line-height: 20px;
}

// img {
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     height: 100%;
//     width: 100%
// }
.site {
    overflow: hidden;
}
.container {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

/** End Formatting **/



/** Links **/

a {
    text-decoration: none;
}
a:link {}

a:hover {}

a:active {}

a:visited {}

/** End Links **/

/****************************************************************************************************************************************/

/** Responsive **/

@media screen and (max-width: 1100px) {
    .container {
       max-width: 1024px;
        padding: 0 30px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 768px) {
    .container {
    max-width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 30px;
        margin: 0 auto;
    }
}

/** End Responsive **/