.single-product{
    .container{
        .products{
            margin-top: 90px;
            display: flex;
            padding-bottom: 50px;
            border-bottom: 1px solid #D6CECB;
            .single-product-slider{
                *{
                	outline: none;
                   }
                width: 50%;
                .slider-for{

                    .slick-prev{
                        display: none !important; 
                    }

                    .slick-list{
                        .slick-track{
                            // width: 100%;
                            display: flex;
                            cursor: pointer;
                            .slick-slide{
                                position: static;
                                width: auto;
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                                .slide-control{

                                }
                            }
                        }
                    }

                    .slick-next{
                        &.slick-arrow{
                            display: none !important;
                        } 
                    }
                }
                .slider-nav{
                    position: relative;
                    .slick-prev{
                        border: none;
                        outline: none;
                        &.slick-arrow{
                            // display: none !important;
                            position: absolute;
                            top: 30px;
                            &:after{
                                content: "\f137";
                                font-family: "Font Awesome 5 Free";
                                font-size: 18px;
                                font-weight: 600;
                                outline: none;
                                color: $color-primary-brown;
                                cursor: pointer;
                            }
                            &:hover{
                                &:after{

                                    color: $color-white;
                                }
                            }
                        } 
                    }

                    .slick-list{
                        overflow: hidden;
                        width: 70%;
                        margin: 0 auto;
                        margin-top: 30px;
                        cursor: pointer;
                        outline: none;
                        .slick-track{
                            display: flex;
                            width: 1605px !important;
                            .slick-slide{
                                .slide-control{
                                    outline: none;
                                    img {
                                        object-fit: contain;
                                        height: 80px;
                                        outline: none;
                                    }
                                }
                            }
                        }
                    }
                    
                    .slick-next{
                        border: none;
                        outline: none;
                        &.slick-arrow{
                            position: absolute;
                            top: 30px;
                            right: 0px;
                            &:after{
                                content: "\f138";
                                font-family: "Font Awesome 5 Free";
                                font-size: 18px;
                                font-weight: 600;
                                outline: none;
                                color: $color-primary-brown;
                                cursor: pointer;

                            }
                            &:hover{
                                &:after{

                                    color: $color-white;
                                }
                            }
                        } 
                    }
                    .slick-dots{
                        display: none !important;
                    }
                    
                        
                }
            }
            .product{
                width: 50%;
                .product-control{
                    padding-left: 80px;
                    color: #141414;
                    h3{
                        margin-bottom: 32px;
                    }
                    p{
                        margin-bottom: 16px;
                        line-height: 24px;
                        font-size: 16px;
                    }
                    .tab{
                        display: flex;
                        margin-bottom: 10px;
                        box-shadow: inset 0px -1px 0px #DEDEDE;
                        margin-bottom: 24px;
                        .tablinks-1, .tablinks-2{
                            padding: 0px 50px;
                            
                            // border-bottom: 1px solid;
                            cursor: pointer;
                            &.active{
                                color: #624B44;
                                border-bottom: 1px solid #624B44;
                                box-sizing: border-box;
                            }
                        }
                    }

                    
                    .characteristics{
                        &.tabcontent-1,&.tabcontent-2{
                            display: none;
                            &.active{
                                display: block !important;
                            }
                        }
                        .charac-control{
                            .wrap-charac{
                                .wrap-feature-title{
                                    p{
                                        margin-top: 30px;
                                        &:nth-child(even){
                                        }
                                    }
                                }
                                .wrap-detail{
                                    .wrap-detail-control{
                                        display: table;
                                        width: 100%;
                                        .detail-title{
                                            // width: 60%;
                                            // float: left;
                                            display: table-cell;
                                            border-bottom: 1px solid #D6CECB;
                                            .detail-control{
                                                margin: 10px 0;
                                                &:after{
                                                    width: 100%;
                                                    
                                                }
                                            }
                                        }
                                        .detail-value{
                                            // width: 40%;
                                            // float: right;
                                            border-bottom: 1px solid #D6CECB;
                                            text-align: end;
                                            .detail-control{
                                                margin: 10px 0;
                                            }
                                        }
                                    }
                                }
                                
                            }
                        }
                    }
                }
            }
        }
        .section-products{
            display: flex;
            margin-top: 50px;
            margin-bottom: 90px;
            position: relative;
            .product-img1{
                padding: 80px 0;
                width: 80%;
                background-repeat: no-repeat;
                margin-right: 30px;

                // &:before{
                //     content: "";
                //     position: absolute;
                //     top: 0;
                //     left: 0;
                //     right: 0;
                //     bottom: 0;
                //     background: rgba(98, 75, 68, 0.6)
                // }
                .pdt{
                    margin-left: 40px;
                    color: #fff;;
                    h1{
                        margin-top: 15px;
                    }
                }
            }
            .product-img2{
                position: relative;
                // transform: scale(1);
                transition: all 0.5s;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    transition: all 0.5s;
                    transform: scale(1.3);
                    overflow: hidden;
                    cursor: pointer;

                    &:hover{
                        transform: scale(1);
                        // overflow: hidden;
                    }
                }
                .read-more{
                    position: absolute;
                    top: 175px;
                    left: 20px;
                    h3{
                        margin-bottom: 10px;
                    }
                    .icon{
                        vertical-align: middle;
                        margin-left: 7px;
                        color: #624B44;
                        &:after{
                            content: "\f138";
                            font-family: "Font Awesome 5 Free";
                            font-size: 18px;
                            font-weight: 600;
                            outline: none;
                            color: #624B44;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    .single-product{
        .container{
            .products{
                margin-top: 90px;
                display: block;
                padding-bottom: 50px;
                border-bottom: 1px solid #D6CECB;
                .single-product-slider{
                    *{
                        outline: none;
                    }
                    width: 100%;
                    .slider-for{

                        .slick-prev{
                            display: none !important; 
                        }

                        .slick-list{
                            .slick-track{
                                // width: 100%;
                                display: flex;
                                cursor: pointer;
                                .slick-slide{
                                    position: static;
                                    width: auto;
                                    img{
                                        width: 100%;
                                        height: 100%;
                                    }
                                    .slide-control{

                                    }
                                }
                            }
                        }

                        .slick-next{
                            &.slick-arrow{
                                display: none !important;
                            } 
                        }
                    }
                    .slider-nav{
                        position: relative;
                        .slick-prev{
                            border: none;
                            outline: none;
                            &.slick-arrow{
                                // display: none !important;
                                position: absolute;
                                top: 30px;
                                &:after{
                                    content: "\f137";
                                    font-family: "Font Awesome 5 Free";
                                    font-size: 18px;
                                    font-weight: 600;
                                    outline: none;
                                    color: $color-primary-brown;
                                    cursor: pointer;
                                }
                                &:hover{
                                    &:after{

                                        color: $color-white;
                                    }
                                }
                            } 
                        }

                        .slick-list{
                            overflow: hidden;
                            width: 70%;
                            margin: 0 auto;
                            margin-top: 30px;
                            cursor: pointer;
                            outline: none;
                            .slick-track{
                                display: flex;
                                width: 1992px !important;
                                .slick-slide{
                                    .slide-control{
                                        outline: none;
                                        img {
                                            object-fit: contain;
                                            height: 80px;
                                            outline: none;
                                        }
                                    }
                                }
                            }
                        }
                        
                        .slick-next{
                            border: none;
                            outline: none;
                            &.slick-arrow{
                                position: absolute;
                                top: 30px;
                                right: 0px;
                                &:after{
                                    content: "\f138";
                                    font-family: "Font Awesome 5 Free";
                                    font-size: 18px;
                                    font-weight: 600;
                                    outline: none;
                                    color: $color-primary-brown;
                                    cursor: pointer;

                                }
                                &:hover{
                                    &:after{

                                        color: $color-white;
                                    }
                                }
                            } 
                        }
                        .slick-dots{
                            display: none !important;
                        }
                        
                            
                    }
                }
                .product{
                    width: 100%;
                    margin-top: 50px;
                    .product-control{
                        padding-left: 0px;
                        color: #141414;
                        h3{
                            margin-bottom: 32px;
                        }
                        p{
                            margin-bottom: 16px;
                            line-height: 24px;
                            font-size: 16px;
                        }
                        .tab{
                            display: flex;
                            margin-bottom: 10px;
                            box-shadow: inset 0px -1px 0px #DEDEDE;
                            margin-bottom: 24px;
                            .tablinks-1, .tablinks-2{
                                padding: 0px 50px;
                                
                                // border-bottom: 1px solid;
                                cursor: pointer;
                                &.active{
                                    color: #624B44;
                                    border-bottom: 1px solid #624B44;
                                    box-sizing: border-box;
                                }
                            }
                        }

                        
                        .characteristics{
                            margin-bottom: 20px;
                            &.tabcontent-1,&.tabcontent-2{
                                display: none;
                                &.active{
                                    display: block !important;
                                }
                            }
                            .charac-control{
                                .wrap-charac{
                                    .wrap-feature-title{
                                        p{
                                            margin-top: 30px;
                                            &:nth-child(even){
                                            }
                                        }
                                    }
                                    .wrap-detail{
                                        .wrap-detail-control{
                                            display: table;
                                            width: 100%;
                                            .detail-title{
                                                // width: 60%;
                                                // float: left;
                                                display: table-cell;
                                                border-bottom: 1px solid #D6CECB;
                                                .detail-control{
                                                    margin: 10px 0;
                                                    &:after{
                                                        width: 100%;
                                                        
                                                    }
                                                }
                                            }
                                            .detail-value{
                                                // width: 40%;
                                                // float: right;
                                                border-bottom: 1px solid #D6CECB;
                                                text-align: end;
                                                .detail-control{
                                                    margin: 10px 0;
                                                }
                                            }
                                        }
                                    }
                                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 535px){
    .single-product{
        .container{
            
            .section-products{
                display: block;
                margin-top: 50px;
                // margin-bottom: 90px;
                .product-img1{
                    padding: 80px 0;
                    width: 100%;
                    margin-bottom: 20px;
                    // &:before{
                    //     content: "";
                    //     position: absolute;
                    //     top: 0;
                    //     left: 0;
                    //     right: 0;
                    //     bottom: 0;
                    //     background: rgba(98, 75, 68, 0.6)
                    // }
                    .pdt{
                        margin-left: 40px;
                        color: #fff;;
                        h1{
                            margin-top: 15px;
                        }
                    }
                }
                .product-img2{
                    height: 270px;
                    
                    img{
                        // width: 100%;
                        // height: 100%;
                        
                    }
                    
                }
            }
        }
    }
}