.single-product{
    .container{
        .products{
            margin-top: 90px;
            display: flex;
            padding-bottom: 50px;
            border-bottom: 1px solid #D6CECB;
            .single-product-slider{
                *{
                	outline: none;
                   }
                width: 50%;
                .slider-for{

                    .slick-prev{
                        display: none !important; 
                    }

                    .slick-list{
                        .slick-track{
                            // width: 100%;
                            display: flex;
                            cursor: pointer;
                            .slick-slide{
                                position: static;
                                width: auto;
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                                .slide-control{

                                }
                            }
                        }
                    }

                    .slick-next{
                        &.slick-arrow{
                            display: none !important;
                        } 
                    }
                }
                .slider-nav{
                    position: relative;
                    width: 100%;
                    height: auto;
                    overflow: hidden;
                    .slick-prev{
                        border: none;
                        outline: none;
                        &.slick-arrow{
                            position: absolute;
                            bottom: 50%;
                            transform: translateY(100%);
                            background-color: #624B44;
                            color: #fff;
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            display: table;
                            text-align: center;
                            z-index: 1;
                            &:after{
                                content: "\F053";
                                font-family: "Font Awesome 5 Free";
                                font-size: 15px;
                                font-weight: 600;
                                outline: none;
                                color: #fff;
                                cursor: pointer;
                                display: table-cell;
                                vertical-align: middle;
                            }
                            &:hover{
                                border: 1px solid #D6CECB;
                                border-radius: 50%;
                                background: $color-white;
                                &:after{
                                    color: #624B44;
                                }
                            }
                        } 
                    }

                    .slick-list{
                        padding: 0!important;
                        margin: 0 60px;
                        overflow: hidden;
                        margin-top: 30px;
                        cursor: pointer;
                        outline: none;
                        .slick-track{
                            display: flex;
                            .slick-slide{
                                width: 80px!important;
                                height: 80px;
                                margin: 0 20px;
                                .slide-control{
                                    outline: none;
                                    img {
                                        object-fit: cover;
                                        height: 100%;
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                    
                    .slick-next{
                        border: none;
                        outline: none;
                        &.slick-arrow{
                            display: table;
                            position: absolute;
                            bottom: 50%;
                            transform: translateY(100%);
                            right: 0px;
                            width: 40px;
                            height: 40px;
                            background: #624B44;
                            border-radius: 50%;
                            text-align: center;
                            &:after{
                                content: "\F054";
                                font-family: "Font Awesome 5 Free";
                                font-size: 15px;
                                font-weight: 600;
                                outline: none;
                                color: #fff;
                                cursor: pointer;
                                vertical-align: middle;
                                display: table-cell;
                            }
                            &:hover{
                                border: 1px solid #D6CECB;
                                border-radius: 50%;
                                background: $color-white;
                                &:after{
                                    color: #624B44;
                                }
                            }
                        } 
                    }
                    .slick-dots{
                        display: none !important;
                    }
                    
                        
                }
            }
            .product{
                width: 50%;
                .product-control{
                    padding-left: 80px;
                    color: #141414;
                    h2{
                        margin-bottom: 32px;
                        font-weight: 600;
                        font-size: 48px;
                        line-height: 60px;
                        color: #141414;
                    }
                    p{
                        margin-bottom: 16px;
                        line-height: 24px;
                        font-size: 16px;
                    }
                    .tab{
                        display: flex;
                        margin-bottom: 10px;
                        box-shadow: inset 0px -1px 0px #DEDEDE;
                        margin-bottom: 24px;
                        .tablinks-1, .tablinks-2{
                            padding: 0px 50px;
                            font-weight: bold;
                            font-size: 20px;
                            line-height: 26px;
                            text-align: center;
                            color: #624B44;
                            cursor: pointer;
                            &.active{
                                color: #624B44;
                                border-bottom: 1px solid #624B44;
                                box-sizing: border-box;
                                font-weight: bold;
                                font-size: 20px;
                                line-height: 26px;
                                text-align: center;
                                letter-spacing: -0.2px;
                                color: #141414;
                            }
                        }
                    }
                    .product-desc {
                        .desc-control {
                            p {
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 24px;
                                letter-spacing: -0.1px;
                                color: rgba(20, 20, 20, 0.8);
                            }
                        }
                    }

                    
                    .characteristics{
                        &.tabcontent-1,&.tabcontent-2{
                            display: none;
                            &.active{
                                display: block !important;
                            }
                        }
                        .charac-control{
                            .wrap-charac{
                                .wrap-feature-title{
                                    p{
                                        margin-top: 30px;
                                        &:nth-child(even){
                                        }
                                    }
                                }
                                .wrap-detail{
                                    .wrap-detail-control{
                                        display: table;
                                        width: 100%;
                                        border-bottom: 1px solid #D6CECB;
                                        .detail-title{
                                            display: table-cell;
                                            .detail-control{
                                                margin: 10px 0;
                                                p {
                                                    font-weight: normal;
                                                    font-size: 16px;
                                                    line-height: 24px;
                                                    color: #616161;
                                                }

                                                &:after{
                                                    width: 100%;
                                                    
                                                }
                                            }
                                        }
                                        .detail-value{
                                            text-align: right;
                                            .detail-control{
                                                margin: 10px 0;
                                                p {
                                                    font-weight: 800;
                                                    font-size: 16px;
                                                    line-height: 22px;
                                                }
                                            }
                                        }
                                    }
                                }
                                
                            }
                        }
                    }
                }
            }
        }
        .section-products{
            display: flex;
            margin-top: 50px;
            margin-bottom: 90px;
            position: relative;
            .product-img1{
                padding: 80px 0;
                width: 100%;
                height: 110px;
                background-repeat: no-repeat;
                margin-right: 30px;

                // &:before{
                //     content: "";
                //     position: absolute;
                //     top: 0;
                //     left: 0;
                //     right: 0;
                //     bottom: 0;
                //     background: rgba(98, 75, 68, 0.6)
                // }
                .pdt{
                    margin-left: 40px;
                    color: #fff;;
                    h3 {
                        font-weight: 600;
                        font-size: 36px;
                        line-height: 46px;
                        letter-spacing: -0.8px;
                        color: #FFFFFF;
                    }

                    h1{
                        margin-top: 15px;
                        font-weight: bold;
                        font-size: 48px;
                        line-height: 60px;
                        letter-spacing: -1.2px;
                        color: #FFFFFF;
                    }
                }
            }
            .product-img2{
                position: relative;
                // transform: scale(1);
                transition: all 0.5s;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    transition: all 0.5s;
                    transform: scale(1.3);
                    overflow: hidden;
                    cursor: pointer;
                    &:hover{
                        transform: scale(1);
                        // overflow: hidden;
                    }
                }
            }
        }
    }
}
