.single-service{
    .container{
        .single-post{
            margin: 90px 0px;
            display: flex;
            flex-wrap: wrap;
            .single-service-slider{
                width: 50%;
                .slider-for{
                    .slick-list{
                        .slick-track{
                            display: flex;
                            cursor: pointer;
                            .slick-slide{
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                    .slick-prev{
                        display: none!important; 
                    }
                    .slick-next{
                        display: none!important;
                    }
                }
                .slider-nav{
                    position: relative;
                    width: 100%;
                    height: auto;
                    overflow: hidden;
                    .slick-prev{
                        border: none;
                        outline: none;
                        &.slick-arrow{
                            position: absolute;
                            bottom: 50%;
                            transform: translateY(100%);
                            background-color: #624B44;
                            color: #fff;
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            display: table;
                            text-align: center;
                            z-index: 1;
                            &:after{
                                content: "\F053";
                                font-family: "Font Awesome 5 Free";
                                font-size: 15px;
                                font-weight: 600;
                                outline: none;
                                color: #fff;
                                cursor: pointer;
                                display: table-cell;
                                vertical-align: middle;
                            }
                            &:hover{
                                border: 1px solid #D6CECB;
                                border-radius: 50%;
                                background: $color-white;
                                &:after{
                                    color: #624B44;
                                }
                            }
                        } 
                    }

                    .slick-list{
                        padding: 0!important;
                        margin: 0 60px;
                        overflow: hidden;
                        width: 70%;
                        margin: 0 auto;
                        margin-top: 30px;
                        cursor: pointer;
                        outline: none;
                        .slick-track{
                            display: flex;
                            .slick-slide{
                                width: 80px!important;
                                height: 80px;
                                margin: 0 20px;
                                .slide-control{
                                    outline: none;
                                    img {
                                        object-fit: cover;
                                        height: 100%;
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                    
                    .slick-next{
                        border: none;
                        outline: none;
                        &.slick-arrow{
                            display: table;
                            position: absolute;
                            bottom: 50%;
                            transform: translateY(100%);
                            right: 0px;
                            width: 40px;
                            height: 40px;
                            background: #624B44;
                            border-radius: 50%;
                            text-align: center;
                            &:after{
                                content: "\F054";
                                font-family: "Font Awesome 5 Free";
                                font-size: 15px;
                                font-weight: 600;
                                outline: none;
                                color: #fff;
                                cursor: pointer;
                                vertical-align: middle;
                                display: table-cell;
                            }
                            &:hover{
                                border: 1px solid #D6CECB;
                                border-radius: 50%;
                                background: $color-white;
                                &:after{
                                    color: #624B44;
                                }
                            }
                        } 
                    }
                    .slick-dots{
                        display: none !important;
                    }
                    
                        
                }
            }
            .service{
                width: 50%;
                .service-control{
                    padding-left: 80px;

                    h3{
                        margin-bottom: 30px;
                        font-weight: 800;
                        font-size: 48px;
                        line-height: 60px;
                        color: #141414;
                    }
                    p{
                        font-size: 16px;
                        line-height: 24px;
                        color: rgba(20, 20, 20, 0.8);
                        font-weight: 600;
                    }
                }
            }
        }
        @media screen and (max-width: 1100px) {
            .single-post {
                .single-service-slider {
                    width: 100%;
                    .slider-for {
                        width: 100%;
                        height: 500px;
                        .slick-list {
                            width: 100%;
                            height: 100%;
                            .slick-track {
                                width: 100%;
                                height: 100%;
                                .slick-slide {
                                    width: 100%;
                                    height: 100%;
                                    img {
                                        width: 100%;
                                        height: 500px;
                                        object-fit: cover;
                                    }
                                }
                            }
                        }
                    }
                    .slider-nav {
                        width: 50%;
                        margin: 0 auto;
                        .slick-list {
                            .slick-track {
                                .slick-slide {
                                   margin: 0 10px;                                
                                }
                            }
                        }
                    }
                }
                .service {
                    width: 100%;
                    .service-control {
                        padding-left: 0;
                        h3 {
                            margin-top: 30px;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 768px) {
           .single-post {
                .single-service-slider {
                    .slider-nav {
                        .slick-list {
                            .slick-track {
                                .slick-slide {
                                    margin: 0 5px;
                                    width: 50px!important;
                                    height: 50px;
                                }
                            }
                        }
                    }
                }
                
            }
        }
        @media screen and (max-width: 576px) {
           .single-post {
                .single-service-slider {
                    .slider-nav {
                        display: none;
                        margin-bottom: 32px;
                    }
                    p{
                        margin-bottom: 16px;
                        line-height: 24px;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    .single-service{
        .container{
            .single-post{
                margin: 40px 0px;
                display: block;
                .single-service-slider{
                    *{
                        outline: none;
                       }
                    width: 100%;           
                }
                .service{
                    width: 100%;
                    margin-top: 50px;
                    .service-control{
                        padding-left: 0px;
    
                        h3{
                            margin-bottom: 32px;
                        }
                        p{
                            margin-bottom: 16px;
                            line-height: 24px;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }    
}