.page-template-template-homepage {
    .home-hero {
        position: relative;
        img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
        }
        .container {
            width: 1200px;
            margin: 0 auto;
            .hero-title {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 750px;
                h1 {
                    color: #141414;
                    font-style: normal;
                    font-weight: 800;
                    margin-bottom: 30px;
                }
                p {
                    color: #616161;
                    font-size: 20px;
                    line-height: 34px;
                    padding-right: 210px;
                    margin: 30px 0;
                }
                button {
                    background: #624B44;
                    box-shadow: 0px 3px 0px #47342E;
                    border: none;
                    border-radius: 3px;
                    cursor: pointer;
                    margin-bottom: 15px;
                    padding: 12px 45px;
                    a {
                        color: #FFFFFF;
                        text-decoration: none;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 22px;
                        text-align: center;

                    }
                }
                button:hover {
                    background: #8F796E;
                }
            }  
        }
        @media screen and (max-width: 768px) {
            .container {
                .hero-title {
                    position: relative;
                    top: 100%;
                    transform: translateY(0%);
                    max-width: 100%;
                    width: 100%;
                    padding: 50px 0;
                    h1 {
                        font-size: 40px;
                    }
                    p {
                        padding-right: 150px;
                    }
                }
            }
        }
         @media screen and (max-width: 576px) {
            .container {
                .hero-title {
                    h1 {
                        font-size: 30px;
                        line-height: 45px;
                        padding-right: 60px;
                    }
                    p {
                        font-size: 16px;
                        line-height: 24px;
                        padding-right: 60px;
                    }
                    button {
                        a {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}