.page-template-template-homepage {
	background-color: #fbfbfb;
	.home-our-clients {
		position: relative;
		.container {
			padding-top: 50px;
			position: relative;
			.our-client-title {
				position: relative;
				h2 {
					font-weight: bold;
					font-size: 40px;
					line-height: 60px;
					color: #141414;
					margin-top: 0;
					padding-bottom: 30px;
				}
			}
			.slider.logo {
				position:relative;
				overflow: hidden;
				//display: flex;
				//flex-wrap: wrap;
				.slick-list {
					width: calc( 100% / 5);
					height: 120px;
					&:nth-child(1) {
						margin-left: 0;
					}
					.slick-track {
						display: flex;
						width: 100%;
						height: 100%;
						&:nth-child(1) {
							margin-left: -29px;
						}
						.slick-slide {
							margin-left:30px;
							width: 100%;
							height: 130px;
							.item {
								border: 1px solid #D6CECB;
								width: 100%;
    							height: 100%;
								img {
								width: 100%;
    							height: 100%;
    							cursor: pointer;
								}
							}
							.item:hover {
								border: 1px solid #8F796E;
							}
						}
					}
				}
				.slick-dots {
					margin: 0 auto;
					display: flex;
					padding: 0 40px;
				    text-align: center;
				    width: 200px;
					.slick-active {
						padding: 0;
						color: #624B44;
						font-size: 30px;
						margin-right: 8px;
					}
					li {
						padding: 0;
						color: #DEDEDE;
						margin: 15px;

						button {
							display: none;
						}
					}
				}
				.slick-prev {
					color: blue;
				}
				.slick-next {
					color: blue;
				}
			}
		}
		@media screen and (max-width: 576px) {
			.container {
				.our-client-title {
					h2 {
						font-size: 30px;
						line-height: 45px;
					}
				}
				.slider.logo {
					//margin-left: -30px;
					width: 100vw;
					.slick-list {
						width: calc( 100vw - 37px);
						height: auto;
						.slick-track {
							display: flex;
							width: 100%;
							height: 100%;
								&:nth-child(1) {
								margin-left: -24px;
							
								}
							.slick-slide {
							
								width: 100%;
								height: 100%;
								.item {
									width: 100%;
	    							height: 100%;
									img {
									width: calc( 100vw - 60px);
	    							height: auto;
	    							cursor: pointer;
									}
								}
							}
						}
					}
					.slick-dots {
						margin: 0 auto;
						display: flex;
						padding: 0 40px;
					    text-align: center;
					    width: 200px;
						.slick-active {
							padding: 0;
							color: #624B44;
							font-size: 30px;
							margin-right: 8px;
						}
						li {
							padding: 0;
							color: #DEDEDE;
							margin: 15px;

							button {
								display: none;
							}
						}
					}
					.slick-prev {
						color: blue;
					}
					.slick-next {
						color: blue;
					}
				}
			}
		}
	}
}