.page-template-template-homepage {
	.home-products {
		position: relative;
		padding: 50px 0 75px;
		.container {
			.products-title {
				h2 {
					font-weight: bold;
					font-size: 40px;
					line-height: 60px;
				}
			}
			.product-list {
				display: flex;
   				flex-wrap: wrap;
   				position: relative;
				.item-list {
					position: relative;
					flex: calc( calc( 100% / 4) - 120px);
					flex-wrap: wrap;
					margin-left: 40px;
				    width: 100%;
				    height: 270px;
				    overflow: hidden;
					.product-img {
					position: relative;
						img {
							position: relative;
						}
					}
					.product-info {
						position: absolute;
					    padding: 25px;
					    bottom: 10px;
					    text-align: left;
					    width: calc( 100% - 50px );
						p {
							margin: 0;
							font-weight: bold;
							font-size: 24px;
							line-height: 32px;
							color: #FBFBFB;
						}
						a {
							color: #FBFBFB;
							font-weight: bold;
							font-size: 16px;
							line-height: 22px;
							cursor: pointer;
							i {
								color: #fff;
								font-size: 15px;
   								padding: 0 10px;
							}
						}
					}
					&:nth-child(1) {
					margin-left: 0px;
					}
					&:nth-child(4) {
						.product-info {
							p {
								color: #141414;
							}
							a {
								color: #624B44;
								i {
									color: #624B44;
								}
							}
						}
					}
				}
			}
		}
		@media screen and (max-width: 1100px) {
			.products-title {
				h2 {
					margin-top: 0;
				}
			}
			.product-list {
				.item-list {
					.product-img {
						img {
							width: 100%;
							height: auto;
						}
					}
					.product-info {
						p {
							font-size: 16px!important;
							line-height: 20px!important;
						}
						a {
							font-size: 14px!important;
							line-height: 18px!important;
						}
					}
				}
			}
		}
		@media screen and (max-width: 768px) {
			padding: 0 0 25px;
			.container {
			text-align: left;
				.products-title {
					h2 {
						font-size: 30px;
						line-height: 45px;
					}
				}
				.product-list {
					display: inline-block!important;
					width: 100vw;
					height: 200px;
					margin-left: -30px;
					.item-list {
						margin-left: 0!important;
						margin: 0 auto!important;
						.product-img {
							img {
								width: 100vw!important;
								height: 240px;
								object-fit: cover;
							}
						}
						.product-info {
						bottom: 50%!important;
					    text-align: center!important;
					    transform: translateY(50%)!important;
						    p {
						   	padding-right: 60px;	
						    }
						    a {
						    	padding-right: 60px;
						    }
						}
					}
				}
			}
		}
	}
}