.page-template-template-homepage {
	.home-partnerships {
		.container {
			    padding-top: 75px;
   				padding-bottom: 75px;
			    position: relative;
			.partnership-title {
				h2 {
					font-weight: bold;
					color: #141414;
					font-size: 40px;
					line-height: 60px;
					padding-bottom: 30px;
					margin-top: 0;
				}
			}
			.benefits-list {
				display: flex;
				flex-wrap: wrap;
				.item-list {
					flex: calc( calc( 100% / 3) - 100px);
					display: flex;
					padding-bottom: 63px;
					margin-right: 30px;
					.benefit-icon {
						width: 30%;
   						height: auto;
   						margin-right: 30px;
						img {
							position: relative;
							width: auto;
							height: auto;
							display: block;
   							margin-left: auto;
						}
					}
					.benefit-info {
						width: calc( 100% - 60px );
						h3 {
							margin: 0;
							font-weight: bold;
							font-size: 20px;
							line-height: 26px;
							letter-spacing: -0.2px;
							color: #141414;
							margin-bottom: 15px;

						}
						p {
							margin: 0;
							padding-right: 30px;
						}
					}
				}
			}
		}
		@media screen and (max-width: 1100px) {
			.partner-bg {
			    height: 555px;
			}
			.container {
				.partnership-title {
					h2 {
						margin: 0;
						padding-bottom:30px;
					}
				}
				.benefits-list {
					.item-list {
						.benefit-info {
							h3 {
								font-size: 16px;
								line-height: 20px;
							}
							p {
								font-size: 15px;
								padding-right: 15px;
							}
						}
					}
				}
			}
		}
		@media screen and (max-width: 768px) {
			.container {
				padding-top: 45px;
				padding-top: 45px;
				.benefits-list {
					.item-list {
						padding-bottom:  30px;
						flex: calc( calc( 100% / 2) - 100px);
						.benefit-info {
							h3 {
								font-size: 16px;
								line-height: 20px;
							}
							p {
								padding-right: 60px;
							}
						}
					}
				}
			}
		}
		@media screen and (max-width: 576px) {
			background-color: #f8f6f6;
			.partner-bg {
				img {
					display: none;
				}
			}
			.container {
				.partnership-title {
					h2 {
						font-size: 30px;
						line-height: 45px;
					}
				}
				.benefit-icon { 
					width: 75px!important;
				}
				.benefits-list {
					padding: 0;
					.item-list {
						flex: 100%;
						.benefit-info {
							h3 {
								font-size: 16px;
								line-height: 20px;
							}
							p {
								width: 250px;
								padding-right: 60px;
							}
						}
					}
				}
			}
		}
	}
}