.grid-item{
    &:nth-child(even){
        .grid-item-inner{
            .services{
                flex-direction: row-reverse;
            }
        }
    }
    .grid-item-inner{
        .services{
            display: flex;
            &:nth-child(even){
                flex-direction: row-reverse;
            }
            .img-control{
                width: 50%;
                a{
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }

        }
        .overlay{
            width: 50%;
            .overlay-inner{
                margin: 100px 0;
                padding-left: 80px;
                h4 {
                    font-weight: 800;
                    font-size: 18px;
                    line-height: 22px;
                    text-transform: uppercase;
                    color: #624B44;
                }
                h2 {
                    width: 80%;
                    margin-top: 15px;
                    font-weight: 800;
                    font-size: 36px;
                    line-height: 46px;
                    color: #141414;
                }

                p {
                    width: 80%;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 30px;
                    color: #616161;
                    margin: 20px 0;
                }
                .read-more {
                    span {
                        font-weight: 800;
                        font-size: 16px;
                        line-height: 22px;
                        text-align: right;
                        letter-spacing: -0.2px;
                        color: #624B44;
                    }
                    .icon {
                        vertical-align: middle;
                        margin-left: 7px;
                        &:after {
                            content: "\f138";
                            font-family: "Font Awesome 5 Free";
                            font-size: 18px;
                            font-weight: 600;
                            outline: none;
                            color: #624B44;
                            color: #B9B9B9;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px){
    .grid-item{
        .grid-item-inner{
            .services{
                display: block;
                .img-control{
                    width: 100%;
                    a{
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            .overlay{
                width: 100%;
                .overlay-inner{
                    margin: 50px 0;
                    padding-left: 40px;
                }
            }
        }
    }
}

@media screen and (max-width: 576px){
    .grid-item{
        .grid-item-inner{
            .overlay {
                .overlay-inner {
                    h4 {
                        font-size: 16px;
                    }

                    h2 {
                        font-size: 30px;
                        line-height: 45px;
                    }

                    p {
                        width: 90%;
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
            }
        }
    }
}