.faq{
    .container{
        .section-faq{
            .faq-control{
                margin: 70px 0;
                margin-bottom: 100px;
                ul#accordion{
                    position: relative;
                    display: block;
                    width: 100%;
                    height: auto;
                    // padding-bottom: 10px;
                    margin: 0;
                    list-style: none;
                    // background-color: #f9f9fA;

                    li {
                        position: relative;
                        display: block;
                        // width: 100%;
                        height: auto;
                        // background-color: #FFF;
                        padding: 34px;
                        margin: 0 auto 15px auto;
                        border: 1px solid #D6CECB;
                        border-radius: 5px;
                        cursor: pointer;

                        &.active {
                            border: 1px solid $color-primary-brown;
                            h3 {
                              &:after {
                                transform: rotate(180deg);
                                // color: $color-white;
                                // background-color: #624B44;
                              }
                            }
                        }

                        h3 {
                            position: relative;
                            display: block;
                            height: auto;
                            padding: 0 0 0 0;
                            margin: 0;
                            font-size: 15px;
                            letter-spacing: 0.01em;
                            cursor: pointer;
                            font-weight: 700;
                            font-size: 28px;
                            line-height: 30px;
                            color: #141414;
                            
                            &:after {
                                content: "\F077";
                                font-family: "Font Awesome 5 Free";
                                position: absolute;
                                right: 0;
                                top: 0;
                                color: #fff;
                                transition: all 0.3s ease-in-out;
                                font-size: 15px;
                                width: 30px;
                                height: 30px;
                                background: #624B44;
                                text-align: center;
                                border-radius: 50%;
                            }
                        }
                        div.answer {
                            position: relative;
                            display: block;
                        
                            height: auto;
                            margin: 0;
                            padding: 0;
                            cursor: pointer;
                            padding-right: 30%;
                            
                            p {
                                position: relative;
                                display: block;
                                padding: 10px 0 0 0;
                                cursor: pointer;
                                margin: 0 0 15px 0;
                                font-size: 20px;
                                line-height: 30px;
                                color: #616161;
                            }
                        }   
                    }
                }   
            }
        }
    }
}

@media screen and (max-width: 1199px){
    .faq{
        .container{
            .section-faq{
                .faq-control{
                    padding: 0 15px;
                }
            }
        }
    }   
}