.site-wrap{
    .place-order-banner{
        overflow: hidden;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .container{
            .section-banner{
                margin-left: 20px;
                padding: 80px 0;
            }
        }
    }
}
@media screen and (max-width: 479px){
    .site-wrap{
        .place-order-banner{
            .container{
                .section-banner{
                    padding: 65px 0;
                }
            }
        }
    }
}