.wrap-place-order{
    background-color: #f4f2f1;
    position: relative;
    overflow: hidden;
    .container{
        .section-content{
            display: block;

            .order-form{
                // width: 50%;
                margin: 41px 0px;

                .order-form-control{
                    padding: 0 100px;

                    h4{
                        margin-bottom: 30px;
                        font-weight: 600;
                        font-size: 36px;
                        line-height: 46px;
                        color: #141414;
                    }
                    .order{
                        form {
                            width: 35%;
                            .place-order {
                                background: #fff;
                                margin-bottom: 15px;
                                padding: 15px;
                                border: 1px solid #D6CECB;
                                height: 50px;
                                &:nth-child(5) {
                                    height: 130px;
                                }
                                label {
                                    font-size: 14px;
                                    line-height: 48px;
                                    letter-spacing: -0.1px;
                                    color: #616161;
                                }
                                .wpcf7-form-control-wrap {
                                    input {
                                        border: none;
                                        display: none;
                                        width: 100%;
                                        height: 25px;
                                    }
                                    textarea {
                                        border: none;
                                        width: 100%;
                                        height: 90px;
                                    }
                                }      
                            }
                            .active {
                                border: 1px solid #F0AA63;
                                label {
                                    color: #F0AA63;
                                    font-size: 12px;
                                    line-height: 20px;
                                    letter-spacing: -0.1px;
                                }
                                .wpcf7-form-control-wrap {
                                    input {
                                        display: block;
                                        font-size: 14px;
                                        line-height: 24px;
                                        color: #141414;
                                        letter-spacing: -0.1px;
                                        background-color: #fff!important;
                                    }
                                }
                            }
                            .filled {
                                border: 1px solid #D6CECB;
                                label {
                                    color: #616161;
                                    font-size: 12px;
                                    line-height: 20px;
                                    letter-spacing: -0.1px;
                                }
                               .wpcf7-form-control-wrap {
                                    input {
                                        display: block;
                                        font-size: 14px;
                                        line-height: 24px;
                                        color: #141414;
                                        letter-spacing: -0.1px;
                                        background-color: #fff!important;
                                    }
                                }
                            }
                            .error {
                                border: 1px solid red;
                                label {
                                    color: red!important;
                                    font-size: 12px;
                                    line-height: 20px;
                                    letter-spacing: -0.1px;
                                    color: #616161;
                                }
                                .wpcf7-form-control-wrap {
                                    input {
                                        display: block;
                                        font-size: 14px;
                                        letter-spacing: -0.1px;
                                        line-height: 24px;
                                        color: #141414;
                                    }
                                }
                            }
                        }
                            input[type=submit]{
                                margin-top: 15px;
                                width: 348px;
                                padding: 15px 0;
                                color: $color-white;
                                background-color: $color-primary-brown;
                                cursor: pointer;
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 22px;
                                text-align: center;
                            }
                            input[type=submit]:hover {
                                background-color:#8F796E;
                            }
                            .wpcf7-not-valid-tip {
                                display: none!important;
                            }
                        }
                        .wpcf7-response-output {
                            display: none!important;
                        }
                    }
                }
            }
            .right-img{
                // width: 50%;
                // position: relative;

                .img-control{
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        width: 50%;
                        overflow: hidden;

                        &:before {
                            content: "";
                            display: block;
                            background: rgba(98, 75, 68, .5);
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                        }
                    img{
                        height: 100%;
                        width: 100%;
                        overflow: hidden;
                    }
                }
            }
        }
    }
@media screen and (max-width: 1100px){
    .wrap-place-order{
        background-color: #f4f2f1;
        position: relative;
        overflow: hidden;
        .container{
            .section-content{
                display: block;
    
                .order-form{
                    // width: 50%;
                    margin: 41px 0px;
    
                    .order-form-control{
                        // padding: 0 60px;
                        padding: 0;
                        margin: 0;
                        overflow: hidden;
    
                        h4{
                            margin-bottom: 10px;
                        }
                        .order{
                            form{
                                width: 100%;
                                p{
                                    // margin-top: 15px;
                                    label{
                                        br{
                                            display: none;
                                        }
                                        span{
                                            input, textarea{
                                                // width: 320px;
                                                width: 100%;
                                                height: 48px;
                                                background-color: $color-white;
                                                margin-top: 10px;
                                                padding: 5px;
                                                padding-left: 15px;                                    
                                                border: none;
        
                                                &:focus{
                                                    outline-color:  $color-primary-brown;
                                                }
                                            }
                                            
                                            textarea{
                                                height: 108px;
                                                resize: none;
                                            }
                                        }
                                    }
                                    input[type=submit]{
                                        margin-top: 15px;
                                        // width: 348px;
                                        width: 100%;
                                        height: 48px;
                                        color: $color-white;
                                        background-color: $color-primary-brown;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }
                .right-img{
                    position: relative;
                    .img-control{
                            position: static;
                            width: 100%;
                            &:before{
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 10px;
                            }
                        img{
                            // height: 100%;
                            // width: 100%;
                            // overflow: hidden;
                        }
                    }
                }
            }
        }
    }
}