.page-template-template-about-us {
	.aboutus-quality {
		background-color: #fbfbfb;
		.container {
			.section-quality {
				.title {
					h2 {
						font-weight: 500;
						font-size: 36px;
						line-height: 46px;
						color: #141414;
						margin: 0;
						padding: 75px 0 25px;
					}
				}
				.quality-detail {
					.quality-row {
						display: flex;
						flex-wrap: wrap;
						padding-bottom: 50px;
						.quality-list {
								display: flex;
								flex-wrap:wrap;
							    width: calc( calc( 100% / 3 ) - 50px );
							    height: 100px;
							    padding: 15px;
							    background-color: #fff;
							    border: 1px solid #efedec;
							    margin-left: 20px;
							    margin-bottom: 20px;
							.quality {
								width: calc( 40% - 15px);
    							margin-right: 15px;
								img {
									object-fit: cover;
									width: 100px;
									height: 100px;
								}
							}
							.quality-des {
								width: 60%;
								h3 {
									margin: 0;
								}
								p {
									margin: 0;
								}
							}
							&:nth-child(1) {
								margin-left: 0;
							}	
							&:nth-child(4) {
								margin-left: 0;
							}	
						}
					}
				}
			}
		}
		@media screen and (max-width: 1100px) {
			.container {
				.quality-detail {
					.quality-row {
						.quality-list {
							width: 315px!important;
							&:nth-child(odd) {
								margin-left: 0;
							}	
							&:nth-child(4) {
								margin-left: 20px!important;
							}
						}
					}
				}
			}
		}
		@media screen and (max-width: 768px) {
			.container {
				.quality-detail {
					.quality-row {
						display: inline-block!important;
						.quality-list {
							&:nth-child(even) {
								margin-left: 0px!important;
							}
						}
					}
				}
			}
		}
		@media screen and (max-width: 576px) {
			.container {
				.quality-detail {
					.quality-row {
						.quality-list {
							width: 290px!important;
							&:nth-child(even) {
								margin-left: 0px!important;
							}
							.quality-des {
								p {
									font-size: 14px;
								}
							}
						}
					}
				}
			}
		}
	}
}