.page-template-template-about-us {
	.aboutus-history {
		padding: 75px 0 50px;
		.container {
			.section-history {
				h2 {
					font-weight: 600;
					font-size: 36px;
					line-height: 46px;
					color: #141414;
					padding-bottom: 30px;
				}
			}
			.history {
				display: flex;
				.history-img {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					width: 100%;
					img {
						object-fit: cover;
						width: calc( 50% - 5px);
						height: 280px;
						margin-top: 10px;
						&:nth-child(1) {
							width: 100%;
							height: auto;
							margin-top: 0;
						}
					}
				}
				.history-detail {
					width: calc( 100% - 60px);
					margin: 0 60px;
					padding-right: 65px;
					h3 {
						font-weight: bold;
						font-size: 20px;
						line-height: 26px;
						color: #141414;
						margin: 30px 0;
					}
					.history-description {
						.histories {
							p {
								font-weight: normal;
								font-size: 16px;
								line-height: 24px;
								color: #616161;
								margin: 20px 0;
							}
						}
					}
				}
			}
		}
		@media screen and (max-width: 1100px) {
			.container {
				.history {
					flex-wrap: wrap;
					.history-img {
						img {
							width: 100%;
							height: 275px;
							margin-top: 10px;
							&:nth-child(1) {
								width: 100%;
								height: 275px;
							}		
						}
					}
				}
				.history-detail {
					width: 100%!important;
					margin: 0!important;
					padding-right:0!important;
					h3{
						margin: 20px 0!important;
					}
				}
			}
		}

		@media screen and (max-width: 576px) {
			.container {
				.history { 
				flex-wrap: wrap;
					.history-img {
						img {
							width: 100%;
							height: 275px;
							margin-top: 10px;
							&:nth-child(1) {
								width: 100%;
								height: 275px;
							}		
						}
					}
				}
				.history-detail {
					width: 100%!important;
					margin: 0;
					h3{
						margin: 20px 0!important;
					}
				}
			}
		}
	}
}