.page-template-template-about-us {
	.aboutus-our-products {
		.container {
			.section-our-products {
				position: relative;
				padding: 75px 0 50px;
				.title {
					h2 {
						font-style: normal;
						font-weight: 600;
						font-size: 36px;
						line-height: 46px;
						color: #141414;
						padding-bottom: 30px;
					}
				}
				.products-detail {
					.product-row {
						display: flex;
						flex-wrap: wrap;
						.products-list {
							display: flex;
							justify-content: space-between;
							padding-bottom: 50px;
							.product {
								width: calc( calc( 100% / 2) - 30px);
								img {
									width: 100%;
   									height: 100%;
								}
								p {
									font-weight: 600;
									font-size: 20px;
									line-height: 30px;
									color: rgba(20, 20, 20, 0.8);
									margin: 20px 0;
								}
							}
							&:nth-child(even) {
								flex-direction: row-reverse;
							}
						}
					}
				}
			}
		}
		@media screen and (max-width: 1100px) {
			.container {
				.section-our-products {
					padding-top: 20px;
				}
				.products-detail {
					.product-row {
						.products-list {
							display: inline-block!important;
							justify-content: center;
							.product {
								width: 100%!important;
								p {
									font-size: 16px!important;
									line-height: 24px!important;
								}
							}
						}
					}
				}
			}
		} 
	}
}