.page-template-template-about-us {
	.aboutus-keypoint {
		padding: 50px 0;
		.container {
			.section-keypoint {
				.title {
					h2 {
						font-weight: 600;
						font-size: 36px;
						line-height: 46px;
						letter-spacing: -0.8px;
						color: #141414;
						text-align:  center;
						padding-bottom: 20px;
					}
				}
				.keypoint-detail {
					.keypoint-row {
						display: flex;
						flex-wrap: wrap;
						.keypoint-list {
							border-top: 3px solid #624B44;
							width: 50%;
							.keypoint {
								display: table;
								width: 340px;
								height: 200px;
								text-align: left;
								border-left: 1px solid #DEDEDE;
								.oval {
								    position: absolute;
								    width: 24px;
								    height: 24px;
								    border-radius: 50%;
								    background-color: #624B44;
								    transform: translate3d(-55%, -55%, 0);
								}
								.info {
									padding: 20px;
									h3 {
										margin: 0;
										font-weight: bold;
										font-size: 24px;
										line-height: 32px;
										color: #141414;
									}
									p {
										margin: 0;
										font-weight: normal;
									    font-size: 16px;
									    line-height: 24px;
									    color: #616161;
									}
								}
							}
							&:nth-child(1) {
								border-top: none;
								width: 100%;
								.keypoint {
									.oval {
										margin-top: 203px;
									}
									margin: 0 auto;
									.info {
										p {
											padding-bottom: 20px;
										}
									}
								}
							}
							&:nth-child(2) {
   								border-image: linear-gradient( to left, #624B44, rgba(0, 0, 0, 0) ) 100% 10;
   								.keypoint {
									margin-left: 25%;
									.info {
										display: table-cell;
    									vertical-align: middle;
										p {
											padding-top: 20px;
										}
									}
								}
							}
							&:nth-child(3) {
   								border-image: linear-gradient( to right, #624B44, rgba(0, 0, 0, 0) ) 100% 10;
								.keypoint {
									margin: 0 auto;
									.info {
										display: table-cell;
	    								vertical-align: middle;
										p {
											padding-top: 20px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		@media screen and (max-width: 1100px) {
			.keypoint {
				width: 300px!important;
			}
		}
		@media screen and (max-width: 768px) {
			.container {
				.section-keypoint {
					.keypoint-detail {
						.keypoint-row {
							display: inline-block;
							.keypoint-list {
								width: 50%;
								.keypoint {
									width: 100%!important;
									.info {
										p {
											font-weight: normal;
										    font-size: 16px;
										    line-height: 24px;
										    color: #616161;
										}
									}
								}
								&:nth-child(1) {
									margin-left: 50% ;
									width: 50%;
									.keypoint {
										.info {
											width: 100%;
											padding: 20px 0px 20px 20px;
										}
									}

								}
								&:nth-child(2) {
									.keypoint {
										margin-left: 0;
										border-left: none;
										border-right: 1px solid #DEDEDE;
										.oval {
											margin-left: 25%;
										}
										.info {
											text-align: right;
											padding: 20px 20px 20px 0px;
											padding-left: none;
										}
									}

								}
								&:nth-child(3) {
									margin-left: 50%;
									.keypoint {
										.oval {
											margin-left: 30%;
										}
										.info {
											padding: 20px 0px 20px 20px;
										}
									}
								}	
							}
						}
					}
				}
			}
		}
	}
}