.page-template-template-about-us {
	.aboutus-preparation {
		    padding: 75px 0;
		.container {
			.section-preparation {
				h2 {
					font-style: normal;
					font-weight: 600;
					font-size: 36px;
					line-height: 46px;
					color: #141414;
				}
			}
			.preparation {
				display: flex;
				.video {
					width: calc( 60% - 40px );
    				margin-right: 40px;
					video {
						width: 100%;
						height: auto;
					}
				}
				.preparation-des {
					width: 40%;
					h3 {
						font-style: normal;
						font-weight: 600;
						margin: 0;
						font-size: 20px;
						line-height: 26px;
						color: #141414;
					}
					p {
						font-style: normal;
						font-weight: normal;
						font-size: 20px;
						line-height: 30px;
						color: rgba(20, 20, 20, 0.9);
					}
				}
			}
		}
		@media screen and (max-width: 1100px) {
			.container {
				.preparation {
					display: inline-block;
					.video {
						width: 100%;
						margin-right: 0;
					}
				}
				.preparation-des {
					width: 100%!important;
					h3 {
						margin: 20px 0px!important;
					}
					p {
						font-size: 16px!important;
						line-height: 24px!important;
					}
				}
			}
		}
	}
}