.site-wrap{
    .contact-banner{
        overflow: hidden;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid #D6CECB; 
        .container{
            .section-banner{
                width: 70%;
                margin-left: 20px;
                padding: 80px 0;
            }
        }
    }
}
@media screen and (max-width: 479px){
    .site-wrap{
        .contact-banner{
            .container{
                .section-banner{
                    width: 100%;
                    padding: 65px 0;
                    h1 {
                        font-size: 30px;
                        line-height: 45px;
                    }
                }
            }
        }
    }
}