footer.site-footer {
    background-color: #F4F2F1;
    .container{
        position: relative;
        .footer-1{
            display: inline-block;
            img{
                margin-top: 25px;
            }
        }
        .footer-2{
            display: inline-block;
            position: absolute;
            section{
                .menu-footer-menu-1-container{
                    display: inline-block;          
                    ul{
                        list-style-type: none;
                        margin-left: 200px;
                        li {
                            margin-top: 67px;
                            display: inline-block;
                            margin-right: 46px;
                            a{
                                text-decoration: none;
                                color: $color-primary-brown; 
                                font-weight: bold;
                                font-size: 14px;
                                line-height: 17px;
                                text-align: center;
                                letter-spacing: 0.4px;
                                text-transform: uppercase;
                                color: #624B44;  
                            }  
                        }                   
                    }
            
                }
            }
        }
        .socail-icon{
            display: inline-block;
            position: absolute;
            right: 70px;
            top: 64px;
            .item-icon{
                display: inline-block;
                margin-right: 10px;
                .fab{
                    font-size: 24px;
                    color: $color-primary-brown;
                }
                
            }
        }
        .cp-right{
            text-align: center;
            p{
                color: $color-primary-brown; 
                padding: 20px 0;
                font-weight: normal;
                font-size: 12px;
                line-height: 18px;
                text-align: center;
            }
        }

    }
}


@media (max-width: 980px) {
    footer.site-footer {
        // background-color: #F4F2F1;
        .container{
            position: relative;
            .footer-1{
                display: inline-block;
                img{
                    margin-top: 25px;
                }
            }
            .footer-2{
                display: inline-block;
                position: absolute;
                section{
                    .menu-footer-menu-1-container{
                        display: inline-block;          
                        ul{
                            list-style-type: none;
                            margin-left: 40px;
                            li {
                                margin-top: 67px;
                                display: inline-block;
                                margin-right: 46px;
                                    a{
                                        text-decoration: none;
                                        color: $color-primary-brown;   
                                    }  
                            }                   
                        }
                
                    }
                }
            }
            .socail-icon{
                display: inline-block;
                position: absolute;
                right: 20px;
                top: 69px;
                .item-icon{
                    display: inline-block;
                    margin-right: 10px;
                    .fab{
                        font-size: 24px;
                        color: $color-primary-brown;
                    }
                    
                }
            }
            .cp-right{
                text-align: center;
                p{
                    color: $color-primary-brown; 
                    padding: 20px 0;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    footer.site-footer {
        .container{
            
            .footer-1{
                display: block;
                text-align: center;
                img{
                    margin-top: 25px;
                }
            }
            .footer-2{
                display: block;
                position: static;
                section{
                    .menu-footer-menu-1-container{
                        display: block;          
                        ul{
                            text-align: center;
                            li {
                                display: inline-block;
                                margin-top: 20px;
                                margin-right: 35px;
                                width: 86px;
                                a{
                                    text-decoration: none;
                                    color: $color-primary-brown;   
                                }  
                            }                   
                        }
                
                    }
                }
            }
            .socail-icon{
                display: block;
                position: static;
                text-align: center;
                margin-top: 35px;
                .item-icon{
                    display: inline-block;
                    margin-right: 10px;
                    .fab{
                        font-size: 24px;
                        color: $color-primary-brown;
                    }
                    
                }
            }
            .cp-right{
                text-align: center;
                p{
                    color: $color-primary-brown; 
                    padding: 20px 0;
                }
            }
        }
    }
}
// @media (max-width: 479px) {
//     footer.site-footer {
//         .container{
            
            
//             .footer-2{
//                 section{
//                     .menu-footer-menu-1-container{        
//                         ul{
//                             text-align: justify;                   
//                         }
                
//                     }
//                 }
//             }
//         }
//     }
// }