.container{
    .products-grid{
        display: flex;
        margin: 90px 0;
        .grid-item{
           position: relative;
           margin-right: 30px;
           overflow: hidden;
           &:last-child{
               margin-right: 0;
           }
            .grid-item-inner{
                .products{
                    
                    .img-control{
                        position: relative;
                        // width: 100%;
                        // height: 100%;
                        overflow: hidden;
                            img{
                                // width: 370px;
                                // height: 370px;
                                width: 100%;
                                height: 100%;
                                transition: all 0.5s;
                                transform: scale(1.1);
                                overflow: hidden;

                                &:hover{
                                    transform: scale(1.4);
                                    overflow: hidden;
                                }
                            }
                        .title-control{
                            position: absolute;
                            /* top: 281px; */
                            bottom: 30px;
                            left: 30px;
                            color: $color-white;
                            
                            a{
                                .read-more{
                                    color: $color-white;
                                    .icon{
                                        vertical-align: middle;
                                        margin-left: 7px;
                                        &:after{
                                            content: "\f138";
                                            font-family: "Font Awesome 5 Free";
                                            font-size: 18px;
                                            font-weight: 600;
                                            outline: none;
                                            color: $color-white;
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 767px){
    .container{
        .products-grid{
            display: block;
            margin: 90px 0;
            
            .grid-item{
               position: relative;
               margin-right: 0px;
               margin-bottom: 30px;
               &:last-child{
                   margin-right: 0;
               }
                .grid-item-inner{
                    .products{
                        
                        .img-control{
                            transition: all .5s;
                            a{
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }                           
                        }
                    }
                }
            }
        }
    }
}