.wrap-contact{
    background-color: #F4F2F1;
    border-bottom: 1px solid #D6CECB;
    position: relative;
    overflow: hidden;
    .container{
        .section-content{
            display: flex;
            .map-control{
                width: 50%;
                // background-color: $color-white;
                position: relative;
                
                .map{
                    // background-color: bisque;
                    position: absolute;
                    top: 0;
                    left: -60%;
                    right: 0;
                    bottom: 0;

                    iframe{
                        width: 100%;
                        height: 100%;
                        min-height: 345px;
                    }
                }
                .info{
                    position: absolute;
                    right: 65px;
                    top: 225px;
                    background-color: $color-white;
                    // margin: 50px 50px;

                    .info-item{
                        display: table;

                        .info-icon{
                            display: table-cell;
                            color: #B9B9B9;
                            padding-left: 40px;
                            padding-right: 30px;

                        }
                        .info-description {
                            margin-top: 27px;

                           

                            p {
                                padding-right: 30px;
                                width: 335px;
                            }
                        }
                        &:first-child{
                            .info-description {
                                margin-top: 40px;
                            }    
                        }
                        &:last-child{
                            .info-description {
                                margin-bottom: 45px;
                            }    
                        }
                    }
                }
            }
            .contact-form{
                width: 50%;
                margin: 180px 0px;
                .contact-form-control{
                    padding: 0 100px;

                    h4{
                        margin-bottom: 10px;
                        font-weight: 600;
                        font-size: 36px;
                        line-height: 46px;
                        color: #141414;
                    }
                    p{
                        margin-bottom: 27px;
                        font-size: 16px;
                        line-height: 24px;
                        color: #616161;
                    }
                    .contact{
                        form {
                            width: 100%;
                            .contact-page {
                                background: #fff;
                                margin-bottom: 15px;
                                padding: 15px;
                                border: 1px solid #D6CECB;
                                height: 50px;
                                &:nth-child(4) {
                                    height: 130px;
                                }
                                label {
                                    font-size: 14px;
                                    line-height: 48px;
                                    letter-spacing: -0.1px;
                                    color: #616161;
                                }
                                .wpcf7-form-control-wrap {
                                    input {
                                        border: none;
                                        display: none;
                                        width: 100%;
                                        height: 25px;
                                    }
                                    textarea {
                                        border: none;
                                        width: 100%;
                                        height: 90px;
                                    }
                                }      
                            }
                            .active {
                                border: 1px solid #F0AA63;
                                label {
                                    color: #F0AA63;
                                    font-size: 12px;
                                    line-height: 20px;
                                    letter-spacing: -0.1px;
                                }
                                .wpcf7-form-control-wrap {
                                    input {
                                        display: block;
                                        font-size: 14px;
                                        line-height: 24px;
                                        color: #141414;
                                        letter-spacing: -0.1px;
                                        background-color: #fff!important;
                                    }
                                }
                            }
                            .filled {
                                border: 1px solid #D6CECB;
                                label {
                                    color: #616161;
                                    font-size: 12px;
                                    line-height: 20px;
                                    letter-spacing: -0.1px;
                                }
                               .wpcf7-form-control-wrap {
                                    input {
                                        display: block;
                                        font-size: 14px;
                                        line-height: 24px;
                                        color: #141414;
                                        letter-spacing: -0.1px;
                                        background-color: #fff!important;
                                    }
                                }
                            }
                            .error {
                                border: 1px solid red;
                                label {
                                    color: red!important;
                                    font-size: 12px;
                                    line-height: 20px;
                                    letter-spacing: -0.1px;
                                    color: #616161;
                                }
                                .wpcf7-form-control-wrap {
                                    input {
                                        display: block;
                                        font-size: 14px;
                                        letter-spacing: -0.1px;
                                        line-height: 24px;
                                        color: #141414;
                                    }
                                }
                            }
                        }
                            input[type=submit]{
                                margin-top: 15px;
                                width: 100%;
                                padding: 15px 0;
                                color: $color-white;
                                background-color: $color-primary-brown;
                                cursor: pointer;
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 22px;
                                text-align: center;
                            }
                            input[type=submit]:hover {
                                background-color:#8F796E;
                            }
                            .wpcf7-not-valid-tip {
                                display: none!important;
                            }
                        }
                        .wpcf7-response-output {
                            display: none!important;
                        }
                }
            }
        }
    }
}
@media screen and (max-width: 1100px){
    .wrap-contact{
        .container{
            .section-content{
                .map-control{
                    .map{
                        position: absolute;
                        top: 0;
                        left: 0%;
                        right: 0;
                        bottom: 0;
                    }
                    .info{
                        position: absolute;
                        right: 40px; 
                    }
                }
                .contact-form{
                    margin: 80px 0px;
                    .contact-form-control{
                        margin: 0;
                        padding: 0 80px;
                        .contact{
                            form{
                                p{
                                    margin-bottom: 0;
                                    label{
                                        br{
                                            display: none;
                                        }
                                        span{
                                            input, textarea{
                                                width: 320px;
                                                height: 48px;
                                                background-color: $color-white;
                                                margin-top: 10px;
                                                padding: 8px;
                                                padding-left: 15px;                                    
                                                border: none;
        
                                                &:focus{
                                                    outline-color:  $color-primary-brown;
                                                }
                                            }
                                            
                                            textarea{
                                                height: 108px;
                                                resize: none;
                                            }
                                        }
                                    }
                                    input[type=submit]{
                                        margin-top: 30px;
                                        width: 348px;
                                        height: 48px;
                                        color: $color-white;
                                        background-color: $color-primary-brown;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px){
    .wrap-contact{
        .container{
            .section-content{
                display: block;
                .map-control{
                    width: 100%;
                    
                    .map{
                        // background-color: bisque;
                        position: static;

                        iframe{
                            min-height: 300px;
                        }
                    }
                    .info{
                        position: static;
                        right: 65px;
                        top: 225px;
                        background-color: $color-white;
                        // margin: 50px 50px;
    
                        .info-item{
                            .info-icon{
                                padding-left: 40px;
                                padding-right: 30px;
    
                            }
                            .info-description {
                                margin-top: 15px;
    
                                p{
                                    padding-right: 0px;
                                    width: 100%;
                                }
                            }
                            &:first-child{
                                .info-description {
                                    margin-top: 20px;
                                }    
                            }
                            &:last-child{
                                .info-description {
                                    margin-bottom: 20px;
                                }    
                            }
                        }
                    }
                }
                .contact-form{
                    width: 100%;
                    margin: 60px 0px;
                    .contact-form-control{
                        // padding: 0 100px;
                        padding: 0;
                        margin: 0;
                        overflow: hidden;

                        p{
                            margin-bottom: 15px;
                        }

                        .contact{
                            form{
                                p{
                                    label{
                                        br{
                                            display: none;
                                        }
                                        span{
                                            input, textarea{
                                                width: 100%;
                                                // height: 48px;
                                                background-color: $color-white;
                                                margin-top: 10px;
                                                padding: 5px;
                                                padding-left: 15px;                                    
                                                border: none;
                                                
                                            }
        
                                            textarea{
                                                height: 108px;
                                                resize: none;
                                            }
                                        }
                                    }
                                    input[type=submit]{
                                        margin-top: 15px;
                                        width: 100%;
                                        height: 48px;
                                        color: $color-white;
                                        background-color: $color-primary-brown;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 479px){
    .wrap-contact{
        .container{
            .section-content{
               
                .contact-form{
                    margin: 30px 0px;
                    .contact-form-control{
                        
                        .contact{
                            form{
                                p{
                                    label{
                                        
                                        span{
                                            input, textarea{
                                                margin-top: 10px;  
                                                padding: 5px
                                            }
                                        }
                                    }
                                    input[type=submit]{
                                        margin-top: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}